<div class="card-product-empty color-{{ color_scheme }}">
  <div class="nerd--image-wrapper ">
    {{ 'product-1' | placeholder_svg_tag }}
  </div>
  <div class="card__content">
    <div class="card__information">
      <h3 class="card__heading h4 font-600">
        <div class="full-unstyled-link">Example Product</div>
      </h3>
      <div class="card-information">
        <span class="caption-large light"></span>
        <div class="price">
          <div class="price__container">
            <div class="price__regular">
              <span class="visually-hidden visually-hidden--inline">Regular price</span>
              <span class="price-item price-item--regular">
                {{ 1999 | money }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
