<div class="card-product-empty color">
  <div class="nerd--image-wrapper color-{{ settings.collection_card_color_scheme }}">
    {{ 'collection-1' | placeholder_svg_tag }}

  </div>
  <div class="card__content">
    <h3 class="card__heading h2">
      <div class="full-unstyled-link nerd--text-center">
        Collection
      </div>
    </h3>
  </div>
</div>