.en-absolute {
  position: absolute
}

.en-relative {
  position: relative
}

.en-top-full {
  top: 100%
}

.en-left-full {
  left: 100%
}

.en-top-0 {
  top: 0px
}

.en-left-0 {
  left: 0px
}

.en-right-full {
  right: 100%
}

.en-right-\[100\%\] {
  right: 100%
}

.en-right-0 {
  right: 0px
}

.en-z-10 {
  z-index: 10
}

.en-order-3 {
  order: 3
}

.en-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.en-ml-auto {
  margin-left: auto
}

.en-flex {
  display: flex
}

.en-hidden {
  display: none
}

.en-h-10 {
  height: 2.5rem
}

.en-h-full {
  height: 100%
}

.en-h-6 {
  height: 1.5rem
}

.en-w-10 {
  width: 2.5rem
}

.en-w-full {
  width: 100%
}

.en-w-6 {
  width: 1.5rem
}

.en-max-w-full {
  max-width: 100%
}

.en-cursor-pointer {
  cursor: pointer
}

.en-flex-wrap {
  flex-wrap: wrap
}

.en-items-center {
  align-items: center
}

.en-justify-center {
  justify-content: center
}

.en-justify-between {
  justify-content: space-between
}

.en-gap-10 {
  gap: 2.5rem
}

.en-gap-16 {
  gap: 4rem
}

.en-gap-2 {
  gap: 0.5rem
}

.en-gap-4 {
  gap: 1rem
}

.en-rounded-full {
  border-radius: 9999px
}

.en-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.en-p-4 {
  padding: 1rem
}

.en-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.en-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.en-pb-4 {
  padding-bottom: 1rem
}

.en-text-\[3rem\] {
  font-size: 3rem
}

.en-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.en-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.en-text-\[4rem\] {
  font-size: 4rem
}

.en-uppercase {
  text-transform: uppercase
}

@media (min-width: 768px) {
  .md\:en-flex {
    display: flex
  }

  .md\:en-hidden {
    display: none
  }
}

@media (min-width: 1024px) {
  .lg\:en-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .lg\:en-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  .lg\:en-text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .lg\:en-text-\[4rem\] {
    font-size: 4rem
  }

  .lg\:en-text-\[3rem\] {
    font-size: 3rem
  }

  .lg\:en-text-\[3\.5rem\] {
    font-size: 3.5rem
  }

  .lg\:en-text-\[2\.5rem\] {
    font-size: 2.5rem
  }
}
