.en-absolute {
  position: absolute
}

.en-relative {
  position: relative
}

.en-left-1\/2 {
  left: 50%
}

.en-top-1\/2 {
  top: 50%
}

.en-bottom-0 {
  bottom: 0px
}

.en-top-full {
  top: 100%
}

.en-order-2 {
  order: 2
}

.en-order-3 {
  order: 3
}

.en-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.en-ml-auto {
  margin-left: auto
}

.en-block {
  display: block
}

.en-flex {
  display: flex
}

.en-hidden {
  display: none
}

.en-h-8 {
  height: 2rem
}

.en-h-16 {
  height: 4rem
}

.en-h-10 {
  height: 2.5rem
}

.en-h-full {
  height: 100%
}

.en-h-0 {
  height: 0px
}

.en-w-full {
  width: 100%
}

.en-w-8 {
  width: 2rem
}

.en-w-16 {
  width: 4rem
}

.en-w-10 {
  width: 2.5rem
}

.en-w-0 {
  width: 0px
}

.en-max-w-full {
  max-width: 100%
}

.en-max-w-\[40rem\] {
  max-width: 40rem
}

.-en-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-en-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.en-translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.en-translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.en-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.en-cursor-pointer {
  cursor: pointer
}

.en-flex-col {
  flex-direction: column
}

.en-flex-wrap {
  flex-wrap: wrap
}

.en-items-center {
  align-items: center
}

.en-justify-center {
  justify-content: center
}

.en-justify-between {
  justify-content: space-between
}

.en-justify-around {
  justify-content: space-around
}

.en-gap-4 {
  gap: 1rem
}

.en-gap-10 {
  gap: 2.5rem
}

.en-gap-16 {
  gap: 4rem
}

.en-gap-2 {
  gap: 0.5rem
}

.en-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.en-p-4 {
  padding: 1rem
}

.en-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.en-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.en-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.en-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.en-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.en-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.en-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.en-text-\[3rem\] {
  font-size: 3rem
}

.en-font-bold {
  font-weight: 700
}

.en-uppercase {
  text-transform: uppercase
}

@media (min-width: 768px) {
  .md\:en-relative {
    position: relative
  }

  .md\:en-block {
    display: block
  }

  .md\:en-flex {
    display: flex
  }

  .md\:en-hidden {
    display: none
  }

  .md\:en-flex-row {
    flex-direction: row
  }
}